doctype html
html(lang='en')
    head
        title 'Verify your Fog account'
    body
        h1 'Verify your Fog Email Address'
        p "Thank you for registering your account with Fog, Rain Cloud's official authentication service! To get verify that the email address you associated to your Fog account is valid, please visit the link below:"
        a(href=`${verificationUrl}`) Click here to verify your Fog Account.