script(type="text/javascript" src="/public/src/sessionManagement.js")
script(type="text/javascript").
    storeSession(sessionKey, clientSession);
    console.log("Fog session stored!", session.sessionKey);
    window.location.href=redirectURI;
